# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
cmd
broadcast/
token-bank-front/node_modules/
token-bank-front/.env.local
