# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
cmd
broadcast/
token-bank-front/node_modules/
token-bank-front/.env.local
nft-market-front/node_modules/
nft-market-front/.env.local
nft-market-front/dist/
nft-market-event-listener/.env
nft-market-event-listener/node_modules/
nft-market-event-listener/package-lock.json
viem-cli-wallet/node_modules/
viem-cli-wallet/package-lock.json
viem-cli-wallet/wallet.json
bank-frontend/dist/
bank-frontend/node_modules/
bank-frontend/package-lock.json
